{% extends 'base.html' %}

{% block content %}

</br>
{% if api %}
    {% if api == "Error..." %}
        There was an error, try again...
    {% else %}
    <div class="jumbotron">
        <h1 class="display-4">{{api.location.name}}</h1>

        <div class="media">
            <img src="http:{{api.current.condition.icon}}" class="mr-3" alt="...">
            <div class="media-body">
                <h5 class="mt-0">{{api.current.condition.text}}</h5>
                Temp: {{api.current.temp_c}} C - Updated ({{api.current.last_updated}})</br>
                Wind: {{api.current.wind_kph}} kph --> {{api.current.wind_dir}}
            </div>
        </div>





        <p class="lead"></p>
        <p>{{time}} - It uses utility classes for typography and spacing to space content out within the larger container.</p>
    </div>
          </br>
    {% endif %}
{% endif %}


{% endblock %}

